/* p-fv
--------------------------- */
@use "./../../foundation/system" as s;

.p-fv {
	height: 90vh;
	// position: sticky;
	// top: -82px;
	margin-bottom: -96px;

	&__circles {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -1;
		li {
			position: absolute;
			display: block;
			list-style: none;
			width: 20px;
			height: 20px;
			background: rgba(255, 255, 255, 0.2);
			animation: p-fv-circles 25s linear infinite;
			bottom: -150px;
			&:nth-child(1) {
				left: 25%;
				width: 80px;
				height: 80px;
				animation-delay: 0s;
			}
			&:nth-child(2) {
				left: 10%;
				width: 20px;
				height: 20px;
				animation-delay: 2s;
				animation-duration: 12s;
			}
			&:nth-child(3) {
				left: 70%;
				width: 20px;
				height: 20px;
				animation-delay: 4s;
			}
			&:nth-child(4) {
				left: 40%;
				width: 60px;
				height: 60px;
				animation-delay: 0s;
				animation-duration: 18s;
			}
			&:nth-child(5) {
				left: 65%;
				width: 20px;
				height: 20px;
				animation-delay: 0s;
			}
			&:nth-child(6) {
				left: 75%;
				width: 110px;
				height: 110px;
				animation-delay: 3s;
			}
			&:nth-child(7) {
				left: 35%;
				width: 150px;
				height: 150px;
				animation-delay: 7s;
			}
			&:nth-child(8) {
				left: 50%;
				width: 25px;
				height: 25px;
				animation-delay: 15s;
				animation-duration: 45s;
			}
			&:nth-child(9) {
				left: 20%;
				width: 15px;
				height: 15px;
				animation-delay: 2s;
				animation-duration: 35s;
			}
			&:nth-child(10) {
				left: 85%;
				width: 150px;
				height: 150px;
				animation-delay: 0s;
				animation-duration: 11s;
			}
		}
		@keyframes p-fv-circles {
			0% {
				transform: translateY(0) rotate(0deg);
				opacity: 1;
				border-radius: 0;
			}

			100% {
				transform: translateY(-1000px) rotate(720deg);
				opacity: 0;
				border-radius: 50%;
			}
		}
	}

	&__visual {
		position: relative;
		margin: 18px auto;
		width: 300px;
		// height: 300px;
		aspect-ratio: 1/1;
		border-radius: 50%;
		background-color: s.$c-base;
		background: linear-gradient(
			45deg,
			s.$c-base,
			rgba($color: s.$c-base, $alpha: 0.8)
		);
		animation: p-fv-visual 20s linear infinite;
		@keyframes p-fv-visual {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 400% 0;
			}
			100% {
				background-position: 0 0;
			}
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: -2px;
			left: -2px;
			border-radius: 50%;
			color: rgba($color: s.$c-accent, $alpha: 1);
			background: linear-gradient(
				45deg,
				s.$c-accent,
				rgba($color: s.$c-accent, $alpha: 0.2),
				rgba($color: s.$c-accent, $alpha: 0.8),
				rgba($color: s.$c-accent, $alpha: 0.4),
				rgba($color: s.$c-accent, $alpha: 0.6)
			);
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			background-size: 400%;
			z-index: -1;
			animation: p-fv-visual-border 20s linear infinite;
		}
		@keyframes p-fv-visual-border {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 400% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
	}

	&__title {
		@include s.railway($weight: 900);
		@include s.font-size(54);
		line-height: normal;
		text-align: left;
		span {
			background: s.$c-accent url("./../img/fv-title-bg.webp");
			background-position: bottom;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-stroke: 2px s.$c-accent;
			color: transparent;
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			background-size: 400% cover;
			transition: 0.4s;
			animation: p-fv-title 42s linear infinite;
			@keyframes p-fv-title {
				0% {
					background-position: 0% 0;
				}
				100% {
					background-position: 400% 0;
				}
			}
			// animation
			display: block;
			opacity: 0;
			transform: matrix(1, 0, 0, 1, 0, 100);
			transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
			&.is-show {
				opacity: 1;
				transform: matrix(1, 0, 0, 1, 0, 0);
			}
		}
	}

	.c-inner {
		position: relative;
		height: 100%;
		padding-bottom: 100px;
	}
	&__scroll {
		position: absolute;
		right: 20px;
		bottom: 0;
		color: s.$c-body;
		line-height: 1;
		display: inline-block;
		font-size: 1.8rem;
		padding: 10px 10px 38px;
		text-decoration: none;
		letter-spacing: 3px;
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-lr;
		opacity: 0;
		&.is-show {
			transition: 0.8s;
			opacity: 1;
		}
		&::after {
			position: absolute;
			bottom: 0;
			// left: 50%;
			width: 1px;
			// height: 80px;
			left: 10%;
			height: 100px;
			content: "";
			animation: p-fv-scroll 1.5s cubic-bezier(1, 0, 0, 1) infinite;
			background: s.$c-body;
		}
		&:hover {
			text-decoration: none;
		}
		@keyframes p-fv-scroll {
			0% {
				transform: scale(1, 0);
				transform-origin: 0 0;
			}
			50% {
				transform: scale(1, 1);
				transform-origin: 0 0;
			}
			50.1% {
				transform: scale(1, 1);
				transform-origin: 0 100%;
			}
			100% {
				transform: scale(1, 0);
				transform-origin: 0 100%;
			}
		}
	}

	@include s.breakpoint(tablet) {
		.c-inner {
			display: grid;
			justify-content: space-evenly;
			align-items: center;
		}
		&__visual,
		&__title {
			grid-area: 1/-1;
		}
		&__visual {
			max-width: 1220px;
			height: 80%;
			width: auto;
		}
		&__title {
			font-size: 10rem;
			justify-self: center;
		}
	}
	@include s.breakpoint(pc) {
		&__title {
			@include s.font-size(32);
		}
	}
}
