/* p-page
--------------------------- */
@use "./../../foundation/system" as s;

.p-page {
	&__fv {
		&Title {
			@include s.railway($weight: 900);
			@include s.font-size(54);
			line-height: normal;
			text-align: left;
			span {
				transition: 0.4s;
				// animation
				display: block;
				opacity: 0;
				transform: matrix(1, 0, 0, 1, 0, 100);
				transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
				&.is-show {
					opacity: 1;
					transform: matrix(1, 0, 0, 1, 0, 0);
				}
			}
		}
		&TitleEn {
			color: s.$c-accent;
			font-size: 7.2rem;
		}
		&TitleJa {
			font-size: 2.8rem;
		}

		.c-inner {
			padding-top: 40px;
			padding-bottom: 50px;
		}

		@include s.breakpoint(tablet) {
			&Title {
				font-size: 10rem;
				justify-self: center;
			}
			&TitleEn {
				font-size: 10rem;
			}
		}
		@include s.breakpoint(pc) {
			&Title {
				@include s.font-size(32);
			}
		}
	}

	&__content {
		min-height: 50vh;

		@include s.breakpoint(tablet) {
			&.c-section {
				clip-path: polygon(0% 0%, 100% 12%, 100% 100%, 0% 100%);
			}
		}
		@include s.breakpoint(pc) {
		}
	}

	&__cards {
		// display: flex;
		// flex-wrap: wrap;

		display: grid;
		grid-template-columns: repeat(auto-fit, 300px);
		/* grid-row-gap: 20px;
				grid-column-gap: 20px; */
		grid-gap: 20px 20px;

		/* 左寄せ */
		justify-content: center;

		/* 中央寄せ */
		width: 90%;
		margin: 0 auto;
	}
	&__card {
		// width: 30%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		border: solid 1px s.$c-body;
		border-radius: 4px;

		a {
			color: s.$c-body;
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}

		&__title {
			font-weight: bold;
			margin: 8px 0 4px;
			padding: 0 8px;
			display: -webkit-box;
			overflow: hidden;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			min-height: 52px;
		}
		&__time {
			font-size: 1.4rem;
			padding: 0 8px;
		}
		&__category {
			display: inline-block;
			padding: 5px 10px;
			margin: 0 8px 16px;
			font-size: 1.4rem;
			font-weight: bold;
			color: s.$c-base;
			background-color: s.$c-body;
			border-radius: 4px;
			a {
				color: s.$c-base;
			}
		}

		@include s.breakpoint(tablet) {
		}
		@include s.breakpoint(pc) {
		}
	}

	// &__archives {
	// }
	// &__archive {
	// 	display: flex;
	// 	justify-content: flex-start;
	// 	align-items: center;
	// 	gap: 16px;

	// 	&__imglink {
	// 		width: 30%;
	// 	}
	// 	&__description {
	// 		a {
	// 			color: s.$c-body;
	// 		}
	// 		h3 {
	// 			font-weight: bold;
	// 		}
	// 		span {
	// 			display: inline-block;
	// 			padding: 5px 10px;
	// 			font-size: 1.4rem;
	// 			font-weight: bold;
	// 			color: s.$c-base;
	// 			background-color: s.$c-body;
	// 			border-radius: 4px;
	// 			a {
	// 				color: s.$c-base;
	// 			}
	// 		}
	// 	}
	// }

	// p-page--single
	&--single {
		@extend .p-page;

		&__fv {
			margin-top: -80px;
			height: 20vh;
			background-image: url("./../img/fv-title-bg.webp");
			// background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			@include s.breakpoint(tablet) {
				height: 30vh;
			}
			@include s.breakpoint(pc) {
			}
		}

		&__title {
			font-size: 2.8rem;
			font-weight: bold;
		}
		&__content {
			padding: 40px 0 100px;
			min-height: 50vh;

			&.c-section {
				clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
			}
			@include s.breakpoint(tablet) {
			}
			@include s.breakpoint(pc) {
			}
		}
	}

	// p-page--archive
	&--archive {
		@extend .p-page;

		&__header {
			margin-bottom: 40px;
		}
		&__title {
			@extend .p-page--single__title;
		}
	}

	// p-page--404
	&--404 {
		@extend .p-page;
		.c-button {
			margin-top: 32px;
			text-align: left;
		}
		.c-button a {
			text-align: center;
		}
	}
}
