@use "./../../foundation/system" as s;

.p-profile {
	&__figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 36px;

		> img {
			width: 100%;
			min-width: 300px;
			aspect-ratio: 1/1;
			object-fit: cover;
			animation: p-profile-img 24s ease 0s infinite;
			@keyframes p-profile-img {
				0%,
				100% {
					border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
				}
				14% {
					border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
				}
				28% {
					border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
				}
				42% {
					border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
				}
				56% {
					border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
				}
				70% {
					border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
				}
				84% {
					border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
				}
			}
		}
	}
	&__figcaption {
		p + p {
			margin-top: 16px;
		}
	}

	@include s.breakpoint(tablet) {
		&__figure {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;

			> img {
				width: 400px;
			}
		}
	}
	@include s.breakpoint(pc) {
		&__figcaption {
			width: calc(100% - 500px);
		}
	}
}
