/* p-service
--------------------------- */
@use "./../../foundation/system" as s;

.p-service {
	&__figure {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 0 100px;
		opacity: 0;
		transform: translateY(40px);
		transition: all 1.5s;
		&.is-show {
			opacity: 1;
			transform: translateY(0px);
		}
	}
	&__figcaption {
		display: contents;
		font-size: 18px;
	}
	.c-section__subtitle {
		order: -2;
		width: 100%;
	}
	&__figure > img {
		order: -1;
		margin-bottom: 20px;
	}
	@include s.breakpoint(tablet) {
		&__figure {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			gap: 8px;
			transform: translateY(0px);
			transform: translateX(-40px);
			&:nth-of-type(even) {
				flex-direction: row-reverse;
				transform: translateX(40px);
			}
			&.is-show {
				opacity: 1;
				transform: translateX(0px);
			}
		}
		&__figcaption,
		&__figure > img {
			display: block;
			min-width: 300px;
			width: 45%;
			max-width: 800px;
		}
	}
	@include s.breakpoint(pc) {
	}
}
