/* p-work
--------------------------- */
@use "./../../foundation/system" as s;

.p-work {
	&__content {
		width: 100%;
		overflow: hidden;
	}
	&__slider {
		display: flex;
		gap: 20px;
		&:nth-of-type(odd) {
			.p-work__lists {
				animation-direction: reverse;
			}
		}
	}
	&__lists {
		display: flex;
		gap: 20px;
		margin: 0 0 80px;
		animation: sliderAnimation 30s infinite linear 0.5s both;

		@keyframes sliderAnimation {
			0% {
				transform: translateX(0%);
			}
			100% {
				transform: translateX(-100%);
			}
		}

		> li {
			width: 160px;
			// width: calc(100vw / 6);
		}
	}

	&__description {
		font-size: 1.8rem;
		display: table;
		margin: 0 auto 40px;
		text-align: left;
	}

	@include s.breakpoint(tablet) {
		&__content {
			overflow: visible;
		}
		&__lists {
			> li {
				width: 400px;
			}
		}
	}
	@include s.breakpoint(pc) {
	}
}
