/* -------------------------------------------
/ 『ブログカード』
------------------------------------------- */
.blogcard-label {
	background-color: #60caad;
	color: #fff;
}

.entry-card-snippet,
.related-entry-card-snippet,
.blogcard-snippet {
	border-top: 1px solid rgba(147, 147, 147, 0.4);
	padding-top: 5px;
}

.a-wrap .blogcard,
.related-entry-card-wrap,
.pager-post-navi a.prev-post,
.pager-post-navi a.next-post,
.pager-post-navi.post-navi-square a {
	background-color: rgba(231, 30, 15, 0.05);
	border: 2px outset #444;
	color: #f0f0f0;
	transition: all 0.4s;
}

.a-wrap .blogcard:hover,
.related-entry-card-wrap:hover,
.pager-post-navi a.prev-post:hover,
.pager-post-navi a.next-post:hover,
.pager-post-navi.post-navi-square a:hover {
	background-color: rgba(231, 30, 15, 0.2);
	border: 2px outset #aaaaaa;
}
