/* -------------------------------------------
/ 『フッターメニュー、背景』
------------------------------------------- */
.navi-footer-in a {
	color: #f0f0f0;
}

.footer-bottom.fnm-text-width .menu-footer li a:hover {
	background: none;
	color: #60caad;
}

.footer {
	background-color: #222222;
}
