/* -------------------------------------------
/ 『リンク、タグ、SNSボタン』
------------------------------------------- */
a {
	color: #508ad7;
}

.tag-link,
.comment-reply-link {
	color: #ccc;
}

.sns-buttons {
	opacity: 0.8;
}
