/* -------------------------------------------
/ 『人気記事ランキング』
------------------------------------------- */
/* ----- 標準のランキングを隠す ----- */
.widget-entry-cards.ranking-visible [class*="no-"] .card-thumb::before {
	background: none;
}

/* ----- デフォルト ----- */
.widget-entry-cards.ranking-visible .card-thumb::before {
	content: counter(p-rank);
	position: absolute;
	top: -5px;
	left: -8px;
	line-height: 30px;
	opacity: 0.9;
	text-align: center;
	font-size: 18px;
	width: 32px;
	z-index: 1;
	font-weight: bold;
	font-style: italic;
	text-shadow: -1px -1px 0 #fff, 2px 1px 0 rgba(51, 51, 51, 0);
	color: #222222;
	text-align: center;
}

/* ----- 大きなサムネイル、タイトルを重ねた大きなサムネイル ----- */
.large-thumb.widget-entry-cards.ranking-visible .card-thumb::before,
.large-thumb-on.widget-entry-cards.ranking-visible .card-thumb::before {
	top: -8px;
	left: -1px;
	line-height: 50px;
	font-size: 25px;
}

/* ----- 小さいサムネイルのランキングの背景（左上の三角形） ----- */
.widget-entry-cards.ranking-visible .widget-entry-card-thumb::after {
	content: "";
	border-top: 22px solid #ccc;
	border-right: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 22px solid #ccc;
	opacity: 0.6;
	top: 0;
	left: 0;
	position: absolute;
}

/* ----- 大きなサムネイルのランキングの背景（左上の三角形） ----- */
.large-thumb.widget-entry-cards.ranking-visible .widget-entry-card-thumb::after,
.large-thumb-on.widget-entry-cards.ranking-visible
	.widget-entry-card-thumb::after {
	content: "";
	border-top: 32px solid #ccc;
	border-right: 32px solid transparent;
	border-bottom: 32px solid transparent;
	border-left: 32px solid #ccc;
	opacity: 0.6;
	top: 0;
	left: 0;
	position: absolute;
}
