/* -------------------------------------------
/ 『テーブル』
------------------------------------------- */
table th,
table td,
.scrollable-table th,
.scrollable-table td {
	border: solid 1px #5c5b5b;
}

table th,
.scrollable-table th {
	background-color: rgba(7, 95, 102, 0.4);
	color: #f0f0f0;
}

table tr:nth-of-type(2n + 1) {
	background-color: #333333;
}

table tr:nth-of-type(2n) {
	background-color: #191e1c;
}

#wp-calendar th,
#wp-calendar td {
	border: solid 1px #5c5b5b;
}

@media screen and (max-width: 834px) {
	table th,
	table td {
		border: solid 1px #5c5b5b;
		padding: 0px;
		text-align: center;
		line-height: 1.8;
	}
}
