/* -------------------------------------------
/ 『Topへ戻るボタン』
------------------------------------------- */
.go-to-top-button {
	border: 2px outset #60caad;
	color: #60caad;
	background: none;
	border-radius: 50%;
}

.go-to-top-button:hover {
	color: #60caad;
}
