@charset "UTF-8";
/*
  Skin Name: 
  Description: 
  Skin URI: 
  Author: yurukei20
  Author URI: 
  Screenshot URI: 
  Version: 0.0.1
*/
@use "themes/base";
@use "themes/gnavi";
@use "themes/entry";
@use "themes/blog";
@use "themes/index";
@use "themes/title";
@use "themes/pagination";
@use "themes/submit";
@use "themes/table";
@use "themes/widget";
@use "themes/topbutton";
@use "themes/blockquote";
@use "themes/ranking";
@use "themes/profile";
@use "themes/footer";
@use "themes/link";
@use "themes/sidebar";
@use "themes/calendar";
@use "themes/tag";
@use "themes/box";

/* -------------------------------------------
/ 『文字の色』
------------------------------------------- */
.keyboard-key {
	background-color: #333333;
	box-shadow: 1px 2px 2px #3c3b3b;
}

.red {
	color: rgba(230, 0, 51, 0.8);
}

.red-under {
	border-bottom: 2px solid rgba(255, 0, 0, 0.8);
}

/* -------------------------------------------
/ 『ボックス』
------------------------------------------- */
.information-box,
.question-box,
.alert-box,
.information,
.question,
.alert,
.memo-box,
.comment-box,
.common-icon-box {
	background-color: transparent;
	border-width: 2px;
}

.primary-box,
.sp-primary,
.primary,
.success-box,
.sp-success,
.success,
.info-box,
.sp-info,
.info,
.warning-box,
.sp-warning,
.warning,
.danger-box,
.sp-danger,
.danger,
.secondary-box,
.light-box,
.dark-box,
.blank-box.sticky {
	opacity: 0.85;
}

span[class^="marker"] {
	color: #595858;
}

span[class^="marker-under"] {
	color: #f0f0f0;
}

.marker-under {
	background: linear-gradient(transparent 60%, #939310 60%);
}

.marker-under {
	background: linear-gradient(transparent 60%, rgba(255, 255, 102, 0.6) 60%);
}

.marker-under-red {
	background: linear-gradient(transparent 60%, rgba(255, 182, 185, 0.6) 60%);
}

.marker-under-blue {
	background: linear-gradient(transparent 60%, rgba(168, 218, 251, 0.6) 60%);
}

.blank-box.bb-yellow {
	border-color: #ccb723;
}

.blank-box.bb-tab.bb-yellow .bb-label {
	background-color: #ccb723;
}

.blank-box.bb-red {
	border-color: #b91e30;
}

.blank-box.bb-tab.bb-red .bb-label {
	background-color: #b91e30;
}

.blank-box.bb-blue {
	border-color: #3278b1;
}

.blank-box.bb-tab.bb-blue .bb-label {
	background-color: #3278b1;
}

.blank-box.bb-green {
	border-color: #389560;
}

.blank-box.bb-tab.bb-green .bb-label {
	border-color: #389560;
}

.blank-box.sticky {
	color: #595858;
}

/* -------------------------------------------
/ 『マイクロコピー』
------------------------------------------- */
.micro-balloon {
	background-color: #333333;
}

.micro-bottom.micro-balloon:before {
	border-bottom-color: #999;
}

.micro-bottom.micro-balloon:after {
	border-bottom-color: #333333;
}

.micro-balloon:before {
	border-top-color: #999;
}

.micro-balloon:after {
	border-top-color: #333333;
}

/* -------------------------------------------
/ 『コード』
------------------------------------------- */
pre {
	border: 1px inset #555;
	background-color: #333333;
}

/* -------------------------------------------
/ 『吹き出し』
------------------------------------------- */
.speech-icon img,
.speech-icon amp-img {
	border: 2px solid #f3f3f3;
	background-color: #b6b6b6;
}

div.speech-balloon {
	background-color: #333333;
	border-color: #f0f0f0;
}

.sbs-flat .speech-balloon,
.sbs-line.sbp-r .speech-balloon {
	background-color: #333333;
}

.speech-balloon::before {
	border-right-color: #f0f0f0;
}

.speech-balloon::after,
.sbs-flat .speech-balloon::after {
	border-right-color: #333333;
}

.sbp-r .speech-balloon::before {
	border-left-color: #f0f0f0;
}

.sbp-r .speech-balloon::after,
.sbs-line.sbp-r .speech-balloon::after {
	border-left: 12px solid #333333;
}

/* -------------------------------------------
/ 『画像（薄い影）』
------------------------------------------- */
.iwe-shadow img,
.iwe-shadow amp-img {
	box-shadow: 5px 5px 15px #a3a0a0;
}

/* -------------------------------------------
/ Font Awesome5対応
------------------------------------------- */
.font-awesome-5 .cat-item a::before,
.font-awesome-5 blockquote::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

/* -------------------------------------------
/ カルーセル・パンくずリスト背景対応
------------------------------------------- */
.carousel-in,
.breadcrumb.sbp-main-before,
.breadcrumb.sbp-footer-before,
.breadcrumb.pbp-main-before,
.breadcrumb.pbp-footer-before {
	background-color: transparent;
}

/* -------------------------------------------
/ 『検索ボックスの虫眼鏡』
------------------------------------------- */
.search-submit {
	color: #333;
}

/* -------------------------------------------
/ ボックスメニュー対応
------------------------------------------- */
.box-menu {
	background-color: transparent;
	color: #f0f0f0;
}

.appeal-content,
.block-box-label,
.toggle-button {
	color: #333;
}

.appeal-button {
	background-color: #60caad;
}

.label-box-label {
	color: #fff;
	text-shadow: #333333 3px 0 0, #333333 2px 1px 0, #333333 2px 2px 0,
		#333333 2px 3px 0, #333333 1px 3px 0, #333333 0 3px 0, #333333 -1px 3px 0,
		#333333 -2px 2px 0, #333333 -3px 1px 0, #333333 -3px 0 0,
		#333333 -3px -1px 0, #333333 -3px -2px 0, #333333 -2px -2px 0,
		#333333 -1px -3px 0, #333333 0 -3px 0, #333333 1px -3px 0,
		#333333 2px -2px 0, #333333 2px -2px 0, #333333 3px -1px 0;
}

.search-edit,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
	color: #333 !important;
}

/* -------------------------------------------
/ 『カルーセル』
------------------------------------------- */
.slick-dots li.slick-active button:before {
	color: #0a818b;
}

.slick-dots li button:before {
	color: #666;
	opacity: 1;
}

/* -------------------------------------------
/ 『固定ヘッダー』
------------------------------------------- */
.fixed-header .header {
	background-color: #222222;
}

/* -------------------------------------------
/ 『追加修正』
------------------------------------------- */
#index-tab-1:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-1"],
#index-tab-2:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-2"],
#index-tab-3:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-3"],
#index-tab-4:checked ~ .index-tab-buttons .index-tab-button[for="index-tab-4"] {
	background: none #e5e4e6;
	border: 1px solid #e5e4e6;
	color: #404453;
}

.index-tab-buttons .index-tab-button {
	background-color: #333333;
}

.list-more-button {
	color: #f0f0f0;
}

.list-title-in::before,
.list-title-in::after {
	background-color: #f0f0f0;
}
