/* c-loading
--------------------------- */
@use "./../../foundation/system" as s;

.c-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	/* 1.2秒でフェードアウト */
	-webkit-transition: all 1.2s ease;
	transition: all 1.2s ease;
	/* ローディングアニメーションカラー */
	color: s.$c-accent;
	/* 背景カラー */
	background-color: s.$c-base;
}
.c-loading.loaded {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

/* ローディングアニメーション */
.c-loading__spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border-width: 6px;
	border-style: solid;
	border-color: s.$c-accent transparent transparent;
	animation: c-loading-spinner 1.8s infinite linear forwards reverse;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 50%;
		opacity: 0.6;
	}
	&::before {
		transform-origin: right bottom;
		border-right: 1px solid;
		z-index: 1;
		animation: c-loading-hands 0.4s infinite linear forwards;
	}

	&::after {
		transform-origin: calc(100% - 2px) bottom;
		border-right: 4px solid;
		z-index: 2;
		animation: c-loading-hands-short 1.5s infinite linear forwards;
	}

	// Loading text
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;

		z-index: 3;
		animation: c-loading-text 1.8s infinite linear forwards;
	}
}

// Spinner animation
@keyframes c-loading-spinner {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes c-loading-hands {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes c-loading-hands-short {
	0% {
		transform: translateX(2px) translateZ(0) rotate(0deg);
	}
	100% {
		transform: translateX(2px) translateZ(0) rotate(360deg);
	}
}

@keyframes c-loading-text {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(0deg);
	}
	50% {
		opacity: 0;
		transform: translate(-50%, -50%) rotate(180deg);
	}
	100% {
		opacity: 1;
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
