/* c-loading
--------------------------- */
@use "./../../foundation/system" as s;

.c-loading {
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: hidden;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	// 1.2秒でフェードアウト
	transition: all 1.2s ease;
	// 背景カラー
	background-color: s.$c-base;
	&.loaded {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&__text {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		color: s.$c-accent;
		width: 100px;
		height: 30px;
		margin: -10px 0 0 -45px;
		text-align: center;
		font-size: 2rem;
	}

	&__spinner {
		display: block;
		position: relative;
		top: 50%;
		left: 50%;
		width: 170px;
		height: 170px;
		margin: -85px 0 0 -85px;
		border: 3px solid transparent;
		border-top-color: s.$c-accent;
		border-bottom-color: s.$c-accent;
		border-radius: 50%;
		animation: rotate 2s linear infinite;
		&:before {
			content: "";
			position: absolute;
			top: 5px;
			right: 5px;
			bottom: 5px;
			left: 5px;
			border: 3px solid transparent;
			border-top-color: s.$c-gray-dark;
			border-bottom-color: s.$c-gray-dark;
			border-radius: 50%;
			animation: rotate 3s linear infinite;
		}
		&:after {
			content: "";
			position: absolute;
			top: 15px;
			right: 15px;
			bottom: 15px;
			left: 15px;
			border: 3px solid transparent;
			border-top-color: s.$c-gray-right;
			border-bottom-color: s.$c-gray-right;
			border-radius: 50%;
			animation: rotate 1.5s linear infinite;
		}
	}
	@keyframes rotate {
		0% {
			-webkit-transform: rotate(0deg);
			-ms-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}
