/* c-section
--------------------------- */
@use "./../../foundation/system" as s;

.c-section {
	padding: 40px 0 260px;

	&:nth-of-type(even) {
		clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 94%);
		padding-top: 120px;
		background-color: s.$c-base-sub;
	}

	&__inner {
		max-width: 1220px;
		padding: 10px clamp(16px, 5%, 80px);
		margin: 0 auto;
	}
	&__title {
		font-size: 2.8rem;
		font-weight: bold;
		text-align: center;

		position: relative;
		padding: 50px 0 40px;
		margin-bottom: 44px;
		z-index: 1;
		&::before {
			content: attr(data-en);
			@include s.inter($weight: 900);
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: uppercase;
			color: s.$c-accent-right;
			font-size: 8rem;
			font-weight: bold;
			z-index: -1;
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%) rotate(30deg);
			width: 1px;
			height: 40px;
			background-color: s.$c-accent;
		}
	}

	&__subtitle {
		font-size: 1.8rem;
		font-weight: bold;

		position: relative;
		padding-top: 40px;
		padding-left: 30px;
		margin-bottom: 24px;
		span {
			position: relative;
		}
		&::before {
			content: attr(data-en);
			position: absolute;
			transform: rotate(-5deg);
			top: -12px;
			left: 0;
			color: s.$c-accent-right;
			font-size: 4rem;
			font-family: luxus-brut, cursive;
			// font-weight: bold;
			font-style: italic;
		}
	}

	@include s.breakpoint(tablet) {
		// &__title {
		// 	font-size: 2.8rem;
		// 	&::before {
		// 		font-size: 8rem;
		// 	}
		// }

		&__subtitle {
			font-size: 2.4rem;
			&::before {
				font-size: 4.8rem;
			}
		}
	}
	@include s.breakpoint(pc) {
	}
}
