/* c-section
--------------------------- */
@use "./../../foundation/system" as s;

.c-section {
	padding: 120px 0 260px;
	clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 94%);
	background-color: s.$c-base;
	max-width: 100vw;
	overflow-x: hidden;
	margin-bottom: -106px;

	&:nth-of-type(even) {
		background-color: s.$c-base-sub;
	}
	&:last-of-type {
		margin-bottom: 0;
	}

	&__inner {
		max-width: 1220px;
		padding: 10px clamp(16px, 5%, 80px);
		margin: 0 auto;
	}
	&__title {
		font-size: 2.8rem;
		font-weight: bold;
		text-align: center;

		position: relative;
		padding: 50px 0 40px;
		margin-bottom: 44px;
		z-index: 1;
		&::before {
			content: attr(data-en);
			@include s.railway($weight: 900);
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%);
			text-transform: uppercase;
			color: s.$c-accent-right;
			font-size: 8rem;
			font-weight: bold;
			z-index: -1;
			opacity: 0;
			transform: translate(-50%, 200%);
			transition: 1s cubic-bezier(0.22, 1, 0.36, 1);
		}
		&.is-show:before {
			opacity: 1;
			transform: translate(-50%, 0);
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%) rotate(30deg);
			width: 1px;
			height: 40px;
			background-color: s.$c-accent;
		}
	}

	&__subtitle {
		font-size: 1.8rem;
		font-weight: bold;

		position: relative;
		padding-top: 40px;
		padding-left: 30px;
		margin-bottom: 24px;
		span {
			position: relative;
			transition: 0.5s cubic-bezier(0.37, 0, 0.63, 1);
			clip-path: inset(0 100% 0 0);
		}
		&.is-show span {
			clip-path: inset(0);
		}
		&::before {
			content: attr(data-en);
			position: absolute;
			transform: rotate(-5deg);
			top: -12px;
			left: 0;
			color: s.$c-accent-right;
			font-size: 4rem;
			@include s.cursive($weight: 900);
			font-style: italic;
		}
	}

	@include s.breakpoint(tablet) {
		&__subtitle {
			font-size: 2.4rem;
			&::before {
				font-size: 4.8rem;
			}
		}
	}
	@include s.breakpoint(pc) {
	}
}
