/* l-footer
--------------------------- */
@use "./../foundation/system" as s;

.l-footer {
	background: #000;

	.c-inner {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 32px 20px 40px;
	}
	a {
		color: s.$c-body;
	}

	&__logo {
		color: s.$c-body;
		font-weight: bold;
		svg {
			width: 160px;
			max-width: 80%;
		}
	}

	&__lists {
		li {
			display: none;
		}
		li:last-of-type {
			display: block;
		}
	}

	&__rights {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		gap: 10px;
	}

	@include s.breakpoint(tablet) {
		&__lists {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 14px;
			text-transform: uppercase;
			padding: 20px 0;
			li {
				display: inline-block;
			}
		}
	}
	@include s.breakpoint(pc) {
	}
}
