/* base
--------------------------- */
@use "./system" as s;

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.4s;
}
html {
	font-size: 62.5%;
	line-height: 1.6;
	height: 100%;
	scroll-behavior: smooth;
}
body {
	color: s.$c-body;
	background-color: s.$c-base;
	font-size: 1.6rem;
	font-family: YuGothic, "Yu Gothic", "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-weight: 500;
	min-width: 350px;
	width: 100%;
	overflow-x: hidden;
}
::selection {
	background-color: s.$c-body;
	color: s.$c-base;
}

img,
video,
object {
	max-width: 100%;
	height: auto;
	border: none;
	display: block;
}
a {
	color: #0066c0;
	text-decoration: none;
	transition: 0.4s;
}
a:hover {
	text-decoration: underline;
}
a:hover img {
	text-decoration: none;
	opacity: 0.8;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
