/* base
--------------------------- */
@use "./system" as s;

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	line-height: 1.6;
	height: 100%;
	scroll-behavior: smooth;
}
body {
	color: s.$c-body;
	background-color: s.$c-base;
	font-size: 1.6rem;
	font-family: YuGothic, "Yu Gothic", "Helvetica Neue", Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	font-weight: 500;
	max-width: 100vw;
	min-width: 350px;
	width: 100%;
	overflow-x: hidden;
}
::selection {
	background-color: rgba($color: s.$c-body, $alpha: 0.7);
	color: s.$c-base;
}

// 高速化検証したが、スクロール時バグ続出のため一旦コメントアウト
// section,
// footer {
// 	content-visibility: auto;
// 	contain-intrinsic-size: 100vh;
// }

img,
video,
object {
	max-width: 100%;
	height: auto;
	border: none;
	display: block;
	filter: brightness(90%);
}
a {
	color: #8fcbff;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:hover img {
	text-decoration: none;
	opacity: 0.8;
	transition: s.$transition400ms;
}
a,
label,
input {
	transition: s.$transition400ms;
}
