// system
// ---------------------------

// color system
// ---------------------
// $c-main: #333;
$c-base: #333;
$c-base-sub: #222;
$c-body: #fff;
$c-accent: #ca6060;
$c-accent-right: rgba(
	$color: $c-accent,
	$alpha: 0.3,
);

$box-shadow: 3px 3px 3px
	rgba(
		$color: $c-base,
		$alpha: 0.25,
	);

$c-gray-right: #e9e9e9;
$c-gray-dark: #9da5a0;

$transition400ms: all 0.4s;

// responsive system
// ---------------------
@mixin oswald($weight: 400) {
	font-family: "Oswald", sans-serif;
	font-weight: $weight;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");
@mixin notosans($weight: 700) {
	font-family: "Noto Sans", sans-serif;
	font-weight: $weight;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@mixin inter($weight: bold) {
	font-family: Inter;
	font-weight: $weight;
}

@function get_vw($size, $viewport: 375) {
	$rate: 100 / $viewport;
	@return $rate * $size * 1vw;
}
@mixin font-size($font_size: 10) {
	font-size: $font_size * 1px;
	font-size: get_vw($font_size);
}

@mixin breakpoint($point) {
	@if $point == tablet {
		@media (min-width: 640px) {
			@content;
		}
	}
	@if $point == pc {
		@media (min-width: 890px) {
			@content;
		}
	}
}

.pc-only {
	display: none;
}
@include breakpoint(tablet) {
}
@include breakpoint(pc) {
	.pc-only {
		display: inline-block;
	}
}
