// system
// ---------------------------

// color system
// ---------------------
// $c-main: #333;
$c-base: #333;
$c-base-sub: #222;
$c-body: #fff;
$c-accent: #60caad;
// $c-accent-50: rgba(
// 	$c: $c-accent,
// 	$alpha: 0.5,
// );

$box-shadow: 3px 3px 3px
	rgba(
		$color: $c-base,
		$alpha: 0.25,
	);

$c-gray-right: #e9e9e9;
$c-gray-dark: #9da5a0;

$transition400ms: all 0.4s;

// responsive system
// ---------------------
@mixin oswald($weight: 400) {
	font-family: "Oswald", sans-serif;
	font-weight: $weight;
}

@import "https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap";
@mixin notosans($weight: bold) {
	font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
	font-weight: $weight;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
@mixin inter($weight: bold) {
	font-family: Inter;
	font-weight: $weight;
}

@mixin breakpoint($point) {
	@if $point == tablet {
		@media (min-width: 640px) {
			@content;
		}
	}
	@if $point == pc {
		@media (min-width: 750px) {
			@content;
		}
	}
}

.pc-only {
	display: none;
}
@include breakpoint(tablet) {
}
@include breakpoint(pc) {
	.pc-only {
		display: inline-block;
	}
}
